<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Profiles" type="BpCop.Console.Common.Profiles.ProfilesConfiguration, BpCop.Console.Common" />
  </configSections>
  <appSettings>
    <add key="DefaultCertificateThumbprint" value="18f997b02495f73e6495e61fe0828a15eefa5807" />
    <add key="ERGODefault" value="{'DS009':{'AllowedPages':['Initialise','Main Page','Reset']}, 'DS013':{'AllowedExceptions': ['System Exception','Business Exception','System Unavailable Exception']}, 'DS031': {'Deprecated':[{'ObjectName':'System - Active Directory','ActionNames':['User Exists']},{'ObjectName':'MS Excel VBO','ActionNames':['Get Worksheet As Collection (Fast)']},{'ObjectName':'ERGO - VASD4992','ActionNames':['DatenpoolLesen','DatenpoolLesen per VorgLnr','DatenpoolLesen','DatenpoolLesen per VorgLnr']},{'ObjectName':'ERGO - Robotics Postkorb','ActionNames':['Verbund - Open Ablegen','Verbund - Open Ablegen','Verbund - Ablegen Direkt','Verbund - Ablegen']},{'ObjectName':'ERGO - MS Excel VBO','ActionNames':['Get Worksheet As Collection (Fast)']},{'ObjectName':'ERGO - Collection Helper','ActionNames':['Concat Columns','GroupBy','MoveCorresponding','Flatten Collection Column','GroupByAndCount']}]}}" />
  </appSettings>
  <Profiles>
    <Profile name="default">
      <add key="u" value="sa" />
      <add key="s" value="localhost" />
      <add key="n" value="BluePrism" />
      <add key="named-custom-parameter" value="ERGODefault" />
    </Profile>
  </Profiles>
  <connectionStrings>
    <add name="PROD" connectionString="NWDmrGkyAgAA0SDx+g6ZDxXg70iKRXqs7TUvIvTghu7oz3AFLxjt0R0bfOyYp51vzqztBmIC+6uJCkoqMt8AWL9nwej7JYUt3KbyUcVQTWfrayQr9Lpu+o6HJbC4TjvcapZQUGe8E3iYkpBfQrE+VuC1VokK49lp0B2Ns6lJLuftaEmzC7FR/27FYThk5tGPqi8WD4/dMUBK1VJzDw3leZiaxeyAwO5JLJ8q0UlqMswu58CfbbtFtmU71cZx4BUzRi4+xLjY3CM/aPlmkhKR78yvaL5crAI366dM4FrgzK/cCnLUyTucinXtvaB1cJBikiyrFGDsPczPOEzV00f5yQ==" />
    <add name="ABN" connectionString="QQFwJxfL09+xUL9+iPaRKF+xXeuLKJ+Rmd0uPVZCmsR4LKAT43GhwnCyMnetxzSUyAJj1MpKPHGA4OEiD2QhkaU7uNzG6XzqbmCxzoTYBKGsp/r+FVVyD9rKVwbnLb+1wjwbLurWdPsuXXarfgIQcnVY1k8n+SJWuyCN+xgPdATATg8tjtxzMD8sH38BaAzcmxZFG+y12IFmgD+Vue07NYtqVk6R4BoSPSnXaZRTh7cwM8U6OPrh6a/25mKjyB8evfTHJelgIAy2iv7raGpm0ee37hAniZmzzsZjZER4s7gz43bqDeWvcaAt48HE4OXR00Osm9yzUSWJyjnyr9jcbw==" />
    <add name="EDEN" connectionString="koHgdaSx1+EbnlzMeL9xUhMxRYrVYwEzReqIqPkmv6Bqe6CIb5lxHkF1g3xeSBk4GH1w8xXdUo0d6LXfcPTaFGbm+K1stcWgiy3K1fS56HtdAihaRZXjKxUfWBwLItFmI4bsL2xMoRCEGFESabKsJfp/f/LgIYDZtt4pUCF/zMcZKMwaGcl+oqUs8RE7PMJcgAWQA6hSH8N68oUHWb/3TM+AAyS9SBZF5Dz+Ga93HthYNhOMUurOX9qEL7SdnFCxUsxOoCWIgsHM/I2KO92AGevhOKlokvUVijGIuFHeDbIxmYfWAMMDBpivoyY5jcPCYvjFneqek70RQGga+Psweg==" />
  </connectionStrings>
</configuration>